<div class="card bg-light bg-light mt-3">
    <div class="card-header bg-light">
        <div class="row">
            <div class="col-8 text-left">긴급차량 우선 교통 시스템</div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            시뮬레이션
        </h5>
        <p class="card-text">
            <button class="btn btn-primary mx-1 mt-2" data-toggle="modal" href="#simulationModal">시뮬레이션</button>
            <br>
            <button class="btn btn-primary mx-1 mt-2" data-toggle="modal" href="#caculateModal">최단거리 계산</button>
        </p>
    </div>
</div>