{# line-show와 연결된 모달이 여러 개면 id만 바꿔가며 이걸 여러 개 넣는다 #}
{# 1. 등록 #}
<div class="modal fade" id="simulationModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            {# 헤더 - 제목만 바꾼다 #}
            <div class="modal-header">
                <h5 class="modal-title" id="modal">시뮬레이션 설정</h5>
                {# 제목 옆 X 버튼이다 #}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {# 바디 #}
            <div class="modal-body">
                <form action="{% url 'main:simulate' %}" method="POST">{%csrf_token%}

                    {# 각 묶음이 1 줄을 차지한다. 적당한 것을 조합 해 여러 줄을 만들면 된다. #}
                    {# 맨 마지막 줄에 푸터 있다. 넣는거 빼먹지 마라. #}
                    
                    {# 행을 나누는 경우(2분할) - textarea #}
                    <div class="form-row">
                        {# 행은 전체 12행이므로, 6은 절반을 차지하겠다는 의미이다. #}
                        <div class="form-group col-sm-6">
                            <label>사고 지점 x좌표</label>
                            <input type="text" name="matrix1" class="form-control" maxlength="20">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>사고 지점 y좌표</label>
                            <input type="text" name="matrix2" class="form-control" maxlength="20">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label>교통복잡도</label>
                            <input type="text" name="matrix2" class="form-control" maxlength="20">
                        </div>
                        <!--
                            <label>교통 복잡도</label>
                            <select name="traffic" class="form-control">
                                <option value="30">많이</option>
                                <option value="10" selected>10</option>
                                <option value="0">0</option>
                            </select>
                        -->
                    </div>
                    
                    {# 푸터 #}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">시작</button>
                    </div>
                </form>
            </div>

        </div> 
    </div>
</div>